* {
    margin: 0;
    padding: 0;
}


body {
    padding-top: 84px;
    padding-bottom: 140px;
}


.header {
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: row;
    position: fixed;
    justify-content: end;
    gap: 50px;
    height: 84px;
    right: 78px;
    top: 0;
    z-index: 2;
}

.h1div {
    display: flex;
    max-width: 180px;
    min-width: 140px;
}

.background {
    background-color: white;
    height: 84px;
    position: fixed;
    width: 2386px;
    top: 0;
    z-index: 1;
}

#geolab {
    margin-top: 24px;
    margin-left: 88px;
    margin-right: 50px;
}



.headertext {
    display: flex;
    font-weight: 400%;
    font-size: 17px;
    justify-content: space-between;
    color: #636060;
    margin-top: 33px;
}



























.largephotodiv {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.limagephotodiv {
    width: 548px;
    position: absolute;
}

.imagetext {
    position: absolute;
    display: flex;
    font-weight: 700;
    font-size: 79px;
    color: white;

}


.smallimagetext {
    position: absolute;
    display: flex;
    font-weight: 400;
    font-size: 19px;
    color: white;
    align-self: center;
    top: 100px;
    right: 170px;
}



#bigphoto {
    display: flex;
    max-width: 1920px;
    min-width: 150px;
    margin-bottom: 84px;
}






















.twodivs {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}




.divtext {
    width: 235px;
    display: flex;
    flex-direction: column;
    margin-right: 83px;
}


.t1 {
    font-weight: 400%;
    font-size: 17px;
    color: #636060;
    margin-bottom: 9px;
}

.t2 {
    font-weight: 400%;
    font-size: 28px;
    color: #010101;
    margin-bottom: 37px;
}

.t3 {
    font-weight: 400%;
    font-size: 20px;
    color: #636060;
}





















.cards {
    display: flex;
    flex-direction: row;
    width: 638;
    gap: 33px;
    justify-content: space-between;
    flex-wrap: wrap;
    display: inline-block;
    margin-right: 33px;
}


.image {
    width: 286px;
    height: 195px;
}


.card {
    width: 286px;
    height: 312px;
}


.cardtexth {
    font-weight: 400%;
    font-size: 19px;
    color: #343232;
    margin-top: 23px;
}


.carddesc {
    font-weight: 400%;
    font-size: 18px;
    color: #636060;
    margin-top: 9px;
}
















.cards2 {
    display: flex;
    flex-direction: row;
    display: inline-block;
    justify-content: space-between;
    width: 638;
    gap: 33px;
    flex-wrap: wrap;
    margin-right: 33px;
}



.cards3 {
    display: flex;
    flex-direction: row;
    display: inline-block;
    justify-content: space-between;
    width: 638;
    gap: 33px;
    flex-wrap: wrap;
}


#under1 {
    margin-top: 56px;
}



#under2 {
    margin-top: 56px;
}


#under3 {
    margin-top: 56px;
}