* {
    margin: 0;
    padding: 0;
}


body {
    padding-top: 84px;
}


.header {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: end;
    gap: 50px;
    height: 84px;
    right: 78px;
    top: 0;
    z-index: 2;
}

.background {
    background-color: white;
    height: 84px;
    position: fixed;
    width: 1700px;
    top: 0;
    z-index: 1;
}

#geolab {
    margin-top: 24px;
    margin-left: 88px;
}



.headertext {
    display: flex;
    font-weight: 400%;
    font-size: 17px;
    color: #636060;
    margin-right: 78px;
    margin-top: 33px;
}






























.twodivs {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1000%;
}




.divtext {
    width: 235px;
    height: 700px;
    display: flex;
    flex-direction: column;
}


.t1 {
    font-weight: 400%;
    font-size: 17px;
    color: #636060;
    margin-bottom: 9px;
}

.t2 {
    font-weight: 400%;
    font-size: 28px;
    color: #010101;
    margin-bottom: 37px;
}

.t3 {
    font-weight: 400%;
    font-size: 20px;
    color: #636060;
}









.cards {
    display: flex;
    flex-direction: row;
    width: 638;
    height: 1000px;
    gap: 33px;
    flex-wrap: wrap;
}


.image {
    width: 286px;
    height: 195px;
}


.card {
    width: 286px;
    height: 312px;
}


.cardtexth {
    font-weight: 400%;
    font-size: 19px;
    color: #343232;
    margin-top: 23px;
}


.carddesc {
    font-weight: 400%;
    font-size: 18px;
    color: #636060;
    margin-top: 9px;
}



